<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70812808856-srkrt0fgr87p0j4tvkjpu2gfjrmvg7m5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70812808856-srkrt0fgr87p0j4tvkjpu2gfjrmvg7m5</string>
	<key>API_KEY</key>
	<string>AIzaSyDA-JtVmPQZDs9Do0Ub0UoiuTVPggaBCHw</string>
	<key>GCM_SENDER_ID</key>
	<string>70812808856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eComerce</string>
	<key>PROJECT_ID</key>
	<string>foodify-app-293fa</string>
	<key>STORAGE_BUCKET</key>
	<string>foodify-app-293fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70812808856:ios:dea7cecdbebc1b30bac2ed</string>
</dict>
</plist>